*{
    margin: 0;
    padding: 0;
    text-align: center;

    background: rgb(27, 76, 224);
    color: seashell;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.content{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 50px;
    font-weight: bolder;
}